# File Permissions
PUID=1000
PGID=1000

# Admin Credentials
USER_ADMIN_NAME=admin
USER_ADMIN_PASSWORD=secure_admin_password

# Guest Credentials
USER_GUEST_NAME=guest
USER_GUEST_PASSWORD=secure_guest_password

# Macvlan Network Configuration
AEROFOIL_IP=192.168.1.200
AEROFOIL_PARENT=eth0
AEROFOIL_SUBNET=192.168.1.0/24
AEROFOIL_GATEWAY=192.168.1.1